In [1]:
import pandas as pd

In [6]:
fruits = {
    "apple":[3, 2, 0, 1],
    "oranges":[0, 3, 7, 1]
}

#dataframe means having multiple dimension
#series means having one dimension
fruits = pd.DataFrame(fruits, index = ["Sunday", "Monday", "Tuesday", "Wednesday"])
fruits

           apple  oranges
Sunday         3        0
Monday         2        3
Tuesday        0        7
Wednesday      1        1

# Merging

In [8]:
df1 = pd.DataFrame({"HPI":[80, 90, 70, 60], "Int_Rate":[2, 1, 2, 3],
                   "IND_GDP":[50, 45, 45, 67]}, index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({"HPI":[80, 90, 70, 60], "Int_Rate":[2, 1, 2, 3],
                   "IND_GDP":[50, 45, 45, 67]}, index = [2001, 2002, 2003, 2004])

print(df1, df2)

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67       HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67

In [10]:
#how means which join do you prefer like 
#inner join, outer join, left or right join

merged = pd.merge(df1, df2, how = 'inner')
merged

   HPI  Int_Rate  IND_GDP
0   80         2       50
1   90         1       45
2   70         2       45
3   60         3       67